/* importando fontes do google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


section#esp {
    height: 70px;
    background: rgb(87, 87, 87);
}

#menu {
    float: left;
    font-family: 'Roboto';
    font-weight: 300;
    width: 20%;
    background-color: white;
    padding: 40px 0px;
}

#menu #menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu .menu-lista {
    border: 2px solid rgb(200, 200, 200);
    border-radius: 5px;
}

#menu .menu-lista li {
    padding: 10px;
    border-bottom: 1px solid rgb(200, 200, 200);
    text-align: center;
    transition: .3s ease-in-out;
}

#menu .menu-lista li:last-child{
    border-bottom: 0px solid rgb(200, 200, 200);
}

#menu .menu-lista li:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}

#menu .menu-lista li a {
    padding:5px;   
    color: black;
    font-size: 20px;
}

#meus-dados, #minhas-compras, #estatisticas{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    width: 70%;
    padding: 40px 0px;
    margin-left: 21%;
}

#meus-dados #meus-dados-container,  #minhas-compras #minhas-compras-container{
    width: 95%;
    display: flex;
    flex-direction: column;
}
#meus-dados #meus-dados-container h1{
    font-size: 24px;
}

#meus-dados #meus-dados-container #conta {
    width: 100%;
    background-color: rgb(200, 200, 200);
    padding: 10px 5px;
    margin-bottom: 40px;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 5px;
    
}

#meus-dados #meus-dados-container #conta div{
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#meus-dados #meus-dados-container #conta div h1{
    font-size: 20px;
    width: 20%;
}

#meus-dados #meus-dados-container #conta div p{
    color:rgb(70, 70, 70)
}

#meus-dados #meus-dados-container #enderecos {
    width: 100%;
    background-color: rgb(200, 200, 200);
    padding: 10px 5px;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
	margin: 0 auto;
    flex-wrap: wrap;
    color:rgb(70, 70, 70)
}

#meus-dados #meus-dados-container .endereco div{
    padding: 5px;
}

#meus-dados #meus-dados-container #enderecos .endereco{
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgba(221, 221, 221);
    text-align: center;
}


#adicionar-endereco{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(151, 151, 151);
    color: white;
    font-size: 18px;
    transition: .3s ease-in-out;
    width:fit-content;
    border: 1px solid transparent;
    margin: 2px;
}

#adicionar-endereco a{
    color: white;
}

#adicionar-endereco:hover{
    background-color: rgb(223, 223, 223);
    color: black;
    border: 1px solid black;
}

#adicionar-endereco:hover a{
    color: black;
}

#minhas-compras #minhas-compras-container h1{
    font-size: 24px;
    margin-bottom: 10px;
}

#minhas-compras #minhas-compras-container .compra{
    width: 100%;
    background-color: rgb(200, 200, 200);
    padding: 0px 5px;
    margin-bottom: 40px;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#minhas-compras #minhas-compras-container .compra .content{
    width: 100%;
    padding: 10px 5px;
    display: flex;
}

#minhas-compras #minhas-compras-container .compra .titulo{
    font-size: 20px;
    border-bottom: 1px solid rgb(168, 168, 168);
    padding: 10px 0px;
}

#minhas-compras #minhas-compras-container .compra .coluna1{
    width: 30%;
    padding: 0px 10px;
}

/* #minhas-compras #minhas-compras-container .compra .coluna1 .titulo{
    font-size: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
} */

#minhas-compras #minhas-compras-container .compra img{
    width: 100px;
    height: 100px;
}

#minhas-compras #minhas-compras-container .compra .coluna2{
    width: 100%;
}

#minhas-compras #minhas-compras-container .compra .coluna2 .data,
#minhas-compras #minhas-compras-container .compra .coluna2 .vendedor,
#minhas-compras #minhas-compras-container .compra .coluna2 .avaliacao{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#minhas-compras #minhas-compras-container .compra .coluna2 h1{
    font-size: 20px;
    width: 30%;
}

#minhas-compras #minhas-compras-container .compra .coluna2 .data .data-compra,
#minhas-compras #minhas-compras-container .compra .coluna2 .vendedor .vendedor-nome,
#minhas-compras #minhas-compras-container .compra .coluna2 .avaliacao .valor{
    color:rgb(70, 70, 70);
}

#estatisticas-container .estatistica h1{
    font-size: 24px;
    margin-bottom: 10px;
}

#estatisticas-container .estatistica .content{
    width: 100%;
    background-color: rgb(200, 200, 200);
    padding: 10px 5px;
    margin-bottom: 40px;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 5px;
}

.sair{
    color: rgb(236, 79, 79)!important;
}